@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(45deg, #3498db, #e74c3c);
  background-size: 200% 200%;
  animation: moveBackground 10s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
}
